<!DOCTYPE html>
<html>
<head><title>Edit Student</title><link rel="stylesheet" href="/styles.css" /></head>
<body>
  <h1>Edit Student</h1>
  <form method="POST" action="/update/<%= student._id %>">
    <input name="name" value="<%= student.name %>" required /><br>
    <input name="email" value="<%= student.email %>" required /><br>
    <input name="course" value="<%= student.course %>" required /><br>
    <button type="submit">Update Student</button>
  </form>
</body>
</html>
